@using System.Text; 
@using NL.Rijksoverheid.ExposureNotification.BackEnd.Components.EfDatabase.Entities;
@model object

@{
    ViewBag.Title = "Data View";
    Layout = "_Layout";
}

<h2>TEKS</h2>
<p>Viewing all tekst currently available in the TekEntity Table</p>
<table border="1">
    <tr>
        <th width="100">Id</th>
        <th width="100">Owner</th>
        <th width="100">RollingPeriod</th>
    </tr>
    @foreach (var tek in (List<TekEntity>) ViewData["teks"])
    {
        <tr>
            <td>@tek.Id.ToString()</td>
            <td>@tek.Owner.Id.ToString()</td>
            <td>@tek.RollingPeriod.ToString()</td>
        </tr>
    }
</table>
<br>

<h2>Workflows</h2>
<p>Viewing all workflows currently available in the TekReleaseWorkflowStateEntity Table</p>
<table border="1">
    <tr>
        <th width="100">Id</th>
        <th width="100">AuthorisedByCaregiver</th>
        <th width="100">LabConfirmationId</th>
        <th width="100">BucketId</th>
    </tr>
    @foreach (var tek in (List<TekReleaseWorkflowStateEntity>) ViewData["wf"])
    {
        <tr>
            <td>@tek.Id.ToString()</td>
            <td>@tek.AuthorisedByCaregiver.ToString()</td>
            <td>@tek.LabConfirmationId.ToString()</td>
            <td>
                @if (@tek.BucketId != null)
                {
                    @Convert.ToBase64String(@tek.BucketId)
                }
             </td>
        </tr>
    }
</table>