@using NL.Rijksoverheid.ExposureNotification.BackEnd.Components.EfDatabase.Entities;
@model object

@{
    ViewBag.Title = "Data View";
    Layout = "_Layout";
}

<h2>TEKS</h2>
<p>Viewing all tekst currently available in the TekEntity Table</p>
<table>
    <tr>
        <td>Id</td>
        <td>Owner</td>
        <td>RollingPeriod</td>
    </tr>
    @foreach (var tek in (List<TekEntity>) ViewData["teks"])
    {
        <tr>
            <td>@tek.Id.ToString()</td>
            <td>@tek.Owner.Id.ToString()</td>
            <td>@tek.RollingPeriod.ToString()</td>
        </tr>
    }
</table>
<br>/br>

<h2>Workflows</h2>
<p>Viewing all workflows currently available in the TekReleaseWorkflowStateEntity Table</p>
<table>
    <tr>
        <th>Id</th>
        <th>AuthorisedByCaregiver</th>
        <th>BucketId</th>
    </tr>
    @foreach (var tek in (List<TekReleaseWorkflowStateEntity>) ViewData["wf"])
    {
        <tr>
            <td>@tek.Id.ToString()</td>
            <td>@tek.AuthorisedByCaregiver.ToString()</td>
            <td>
                @if (tek.BucketId != null)
                {
                    @tek.BucketId.ToString()
                }
            </td>
        </tr>
    }
</table>